/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  height: 100vh;
  body {
    height: 100%;
    background-image: url("../public/Hero-Background-notecode@2x.png"),
      linear-gradient(
        to bottom right,
        rgba(183, 135, 245, 1),
        rgba(116, 62, 228, 1)
      );
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Outfit", sans-serif;

    font-optical-sizing: auto;
    font-style: normal;
  }
}
