@import "../../partials/responsives";

$btnw: 100px;
$btnmw: 120px;
$btnh: 25px;
$btnmh: 35px;
$btnbg: #ced6e1;
$ntcblue: #406aff;

.container {
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      margin-top: 10px;
      @include mobileLandscape {
        margin-bottom: 5px;
      }
    }
    .title {
      text-align: center;
      margin: 5px auto;
      @include mobile {
        line-height: 30px;
      }
      @include mobileLandscape {
        display: none;
      }
      @include tabletLandscape {
        display: none;
      }
    }
  }
  .editor-container {
    width: 75%;
    height: 75%;
    @include tablet {
      width: 80%;
      height: 80%;
    }
    @include mobile {
      width: 85%;
      height: 85%;
    }
    @include mobileLandscape {
      width: 90%;
      height: 85%;
    }
    @include tabletLandscape {
      width: 90%;
      height: 90%;
    }
    @include adjustLandscape {
      width: 90%;
      height: 85%;
    }
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
    position: relative;
    .loader {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .editor {
      height: 100%;
    }
    .editor-bottom {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      .dropdowns {
        height: $btnh;
        @include mobile {
          height: $btnmh;
          justify-content: center;
        }
        display: flex;
        flex: 1;
        gap: 10px;
        .dropdown-button {
          position: relative;
          background-color: $btnbg;
          font-size: small;
          width: $btnw;
          @include mobile {
            width: $btnmw;
          }
          border-radius: 20px;
          z-index: 1;
          display: flex;
          align-items: center;
          .content {
            width: 100%;
            border-radius: inherit;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: inherit;
            .text {
              max-width: 70%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            img {
              transform: rotate(180deg);
              transition: transform 500ms ease-in-out;
            }
            input {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              &:focus ~ ul {
                display: flex;
              }
              &:focus + label > img {
                transform: rotate(360deg);
              }
            }
            ul {
              position: absolute;
              display: none;
              flex-direction: column;
              list-style: none;
              gap: 2px;
              z-index: -1;
              width: inherit;
              max-height: 30vh;
              overflow: scroll;
              background-color: inherit;
              padding: 5px 5px 12px;
              bottom: 50%;
              border-radius: 5px 5px 0 0;
              &::-webkit-scrollbar {
                display: none;
              }
              li:hover {
                background-color: $ntcblue;
                color: white;
                cursor: pointer;
              }
            }
          }
        }
      }
      .link-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 20vw;
        height: $btnh;
        @include mobile {
          width: 80%;
          height: $btnmh;
          justify-content: center;
        }
        cursor: pointer;
        &:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
          border-radius: 5px;
        }
        .link {
          color: #364153;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          direction: rtl;
        }
      }
      .share-button {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background-color: $ntcblue;
        color: white;
        font-size: small;
        width: $btnw;
        height: $btnh;
        @include mobile {
          width: $btnmw;
          height: $btnmh;
        }
        border: 0;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}

.vs {
  background-color: #fffffe;
}
.hc-light {
  background-color: white;
}
.vs-dark {
  background-color: #1e1e1e;
}
.hc-black {
  background-color: black;
}
.disabled {
  background-color: #364153 !important;
  cursor: not-allowed !important;
}
.active {
  background-color: $ntcblue;
  color: white;
}
