@if (message() && hideSnackbar()) {
<app-snackbar
  [message]="message()!.content"
  [type]="message()!.type"
></app-snackbar>
}
<app-loader type="bar" *ngIf="!loaderService.fetched()"></app-loader>
<div class="container">
  <div class="head">
    <div class="logo">
      <img src="NoteCodeLogo.svg" alt="NoteCodeLogo" />
    </div>
    <div class="title">
      <h2>Create & Share</h2>
      <h1>Your Code easily</h1>
    </div>
  </div>
  <div class="editor-container" [ngClass]="editorOptions.theme">
    <app-dimmer *ngIf="!loaderService.fetched()"></app-dimmer>
    <div class="loader" *ngIf="!loaderService.editorInit()">
      <app-loader type="spin"></app-loader>
    </div>
    <ngx-monaco-editor
      class="editor"
      [options]="editorOptions"
      [(ngModel)]="content"
      (onInit)="onEditorInit($event)"
    ></ngx-monaco-editor>
    <div class="editor-bottom">
      <div class="dropdowns">
        <div class="dropdown-button">
          <div class="content">
            <span class="text">
              {{ getCurrentLanguageName(editorOptions.language) }}
            </span>
            <input type="checkbox" id="lang" />
            <label for="lang">
              <img src="downArrow.svg" alt="downArrow" />
            </label>
            <ul>
              @for (lang of languages; track $index) {
              <li
                [ngClass]="{ active: lang.value === editorOptions.language }"
                (mousedown)="onChangeLanguage(lang.value)"
              >
                {{ lang.name }}
              </li>
              }
            </ul>
          </div>
        </div>
        <div class="dropdown-button">
          <div class="content">
            <span class="text">
              {{ getCurrentThemeName(editorOptions.theme) }}
            </span>
            <input type="checkbox" id="theme" />
            <label for="theme">
              <img src="downArrow.svg" alt="downArrow" />
            </label>
            <ul>
              @for (theme of themes; track $index) {
              <li
                [ngClass]="{ active: theme.value === editorOptions.theme }"
                (mousedown)="onChangeTheme(theme.value)"
              >
                {{ theme.name }}
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="link-wrapper" *ngIf="link" (click)="onCopyToClipboard(link)">
        <img src="link.svg" alt="link" />
        <span class="link">{{ link }}</span>
      </div>
      <button
        class="share-button"
        [ngClass]="{ disabled: !modified() }"
        [disabled]="!modified()"
        (click)="onShareContent(); modified.set(false)"
      >
        <img src="Share.svg" alt="Share" />
        Share
      </button>
    </div>
  </div>
</div>
